@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    background: #525252;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3d72b4, #525252);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3d72b4, #525252); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
